<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wk.iot.ty">

    <application
        android:name=".module.TuyaApp"
        android:fullBackupContent="true"
        android:label="@string/module_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar"
        android:allowBackup="true"
        android:supportsRtl="false"
        android:appComponentFactory="sd"
        tools:replace="android:label,allowBackup,supportsRtl,appComponentFactory">
        <activity android:name=".module.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data
            android:name="TUYA_SMART_APPKEY"
            android:value="kes938xke57ams83qpvq" />
        <meta-data
            android:name="TUYA_SMART_SECRET"
            android:value="fusc4qgf7sekf9dva3yqcf7yq5d3hvg8" />
    </application>

</manifest>