<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wk.projects.activities"
    tools:ignore="GoogleAppIndexingWarning">

    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 粗略定位授权 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 精细定位授权 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!--允许程序访问有关GSM网络信息(Allows applications to access information about networks)-->
    <!--<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />-->

    <!-- 网络访问授权 -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".debug.ScheduleApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/activities"
        android:label="@string/modules_name"
        android:theme="@style/ScheduleAppTheme"
        tools:replace="android:label">
        <activity android:name=".SchedulesMainActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- <activity
             android:name=".data.ScheduleItemInfoActivity"
             android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />-->
        <activity android:name=".collapse.SchedulesWatchActivity" />
        <activity
            android:name=".collapse.SchedulesCollapseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false">
            <intent-filter>
                <action android:name="com.wk.projects.collapse" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".idea.ScheduleIdeaActivity"
            android:label="@string/title_activity_idea" />

        <service
            android:name=".AppInitIntentService"
            android:exported="false" />
    </application>

</manifest>