<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.wk.projects.records.consumption">

    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!-- 允许程序设置内置sd卡的读写权限 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:name=".debug.ConsumptionApp"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/consumption"
        android:label="@string/modules_name"
        android:theme="@style/NoActionBarTheme"
        tools:replace="android:label">
        <activity android:name=".ConsumptionMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:exported="false"
            android:name=".collapse.ConsumptionCollapseActivity"
            android:configChanges="orientation|keyboardHidden">
            <intent-filter>
                <action android:name="com.wk.projects.collapse" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".collapse.ConsumptionWatchActivity"/>
    </application>

</manifest>